<div class="project_title med_header">Optimizing Asset Placement - Genetic Algorithm</div>
<div class="info_text">Pol Rosello, Neil Parker, Michael Wang | Fall 2013</div>
<div class="line_left"></div>

<div class="project_content">
  <div class="project_description">
    <p>We designed a system to optimize the defense of a colony in a virtual 2D world. The environment consisted of gatherers that collected food for their colony, enemies that spawned from fixed sources, guards that defended these gatherers against enemies, food sources, and walls. On simulation, gatherers moved between food sources and their colony, enemies chased and killed gatherers, and guards killed enemies that came within their fixed range circle. We created a GUI to run the simulation and algorithm, view results, and create custom maps.</p>
    <p>
    To optimize guard placement, we used a genetic algorithm that evaluated the fitness of a particular placement scheme and evolved successive generations by crossing the most successful placements in each generation. We defined fitness, crossing, and mutation functions. To encourage convergence, we incorporated simulated annealing to reduce the magnitude of mutation across generations.</p>
    <p>
    Results were successful, in some cases showing an increase in survivability by up to 2500%, depending on the initial environment.</p>

    <button type="button" class="btn btn-lite btn-lg" data-toggle="modal" data-target="#ai_prac_report_modal">View Project Report</button>

    <form class="inline" action="https://github.com/prosello/aiproject" target="_blank">
        <button type="submit" class="btn btn-lite btn-lg">
          Github
          <img id="github_logo" class="logo_tiny" src="{{ url_for('static', filename='content/github_logo_gray.svg') }}" alt="GitHub">
        </button>
    </form>
  </div>
  <div class="project_other"></div>
  <div class="project_gallery">

  </div>
</div>