<div class="project_title med_header">Okra - Check Splitting App</div>
<div class="info_text">Jaime Sanchez, Steven Han, Vinay Farias, Daniel Wu, Michael Wang | Summer 2014</div>
<div class="line_left"></div>

<div class="project_content">
  <div class="project_description">
    <p> Okra is an app designed to make splitting any itemized expense a breeze. The user takes a picture fo the receipt, assign friends to items, and the app does the rest by splitting the bill and charging everyone the appropriate amount on Venmo.</p>
    <p> Our team of five implemented the app on mobile web using Flask with Python, for a hackathon. I worked on database design and architecting the responsive frontend, using ajax, handlebars templating, and .</p>
    <p>Okra won the 'Most likely to make money' award at the hackathon. We are currently working to implement Okra in iOS, and release it in the near future. We are also looking to implement additional features for payback beyond Venmo and build more options for splitting.</p>

    <form class="inline" action="https://github.com/sudov/okra" target="_blank">
        <button type="submit" class="btn btn-lite btn-lg">
          Github
          <img id="github_logo" class="logo_tiny" src="{{ url_for('static', filename='content/github_logo_gray.svg') }}" alt="GitHub">
        </button>
    </form>
  </div>
  <div class="project_other"></div>
  <div class="project_gallery">

  </div>
</div>