<div class="project_title med_header">Okra - Check Splitting App</div>
<div class="line_left"></div>

<div class="project_content">
  <div class="project_description">
    <p>- Architected and implemented a mobile web app using Flask (Python) as a web framework
      - Designed and implemented responsive UI optimized for the phone (js, html/css)
      - Collaborated with a team of 5 engineers for a hackathon

      Okra is an app designed to make splitting a check a breeze, guiding the user through a step by step process from receiving the receipt to paying back. Okra can also work with any kind of purchase.
      - The user creates a tab and invites friends (Facebook or Venmo)
      - The app uses OCR to parse and itemize a receipt, and allows the user to select which items each person bought. If there is no receipt the user may manually input fields.
       - The app then splits the prices including tip and tax, and allows each the user to pay back the primary tab creator via Venmo.

      We are currently working to implement Okra in iOS, and release it in the near future. We are also looking to implement additional features for payback beyond Venmo and build more options for splitting.

      Github: https://github.com/sudov/okra</p>

    <p>See <a href="http://people.ece.cornell.edu/land/courses/ece4760/FinalProjects/f2014/mzw4_jq42/webpage/main.html">documentation</a> for more details.</p>
    
    <p>Featured on <a href="http://hackaday.com/tag/selfie-bot/">Hackaday</a>, <a href="http://embedded-lab.com/blog/?p=9867">Embedded Lab</a>, and <a href=" http://www.electronics-lab.com/blog/?p=32101">Electronics Lab</a>!</p>
  </div>
  <div class="project_other"></div>
  <div class="project_gallery">

    <figure class="center_text">
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/2mid.jpg') }}">
            <img src="{{ url_for('static', filename='content/pictures/2mid.jpg') }}" alt='missing' width='250px'/>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/faces.png') }}">
            <img src="{{ url_for('static', filename='content/pictures/faces.png') }}" alt='missing' width='300px'/>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/gui.png') }}">
            <img src="{{ url_for('static', filename='content/pictures/gui.png') }}" alt='missing' width='300px'/>
          </a>
        </div>
    </figure>
  </div>
</div>