<div class="project_title med_header">Pathogenesis - Computer Game</div>
<div class="info_text">Lily Chen, Marissa Lucey, Suraj Bhatia, Neil Parker, Sarah Brotman, Michael Wang | Spring 2014</div>
<div class="line_left"></div>

<div class="project_content">
  <div class="project_description">
    <p>
    Pathogenesis is a unique action-arcade game in which the player takes on the roles of a virus that has entered a host, infecting it while combatting the body's white blood cells. The player controls the virus and converts enemies by firing infectious particles, building a horde of virus minions that attack other enemies. The player must traverse the body in various stages, infecting the boss of each level to complete it and ultimately infecting the host's brain!</p>
    <p>
    Our cross disciplinary team of 6 artists and programmers implemented this computer game in C# with Microsoft's XNA framework. I was lead developer and spearheaded the development of the game.
    </p>  

    <button type="button" class="btn btn-lite btn-lg" data-toggle="modal" data-target="#pathogenesis_project_report">View Project Report</button>

    <form class="inline" action="https://github.com/lilyc5459/cs3152" target="_blank">
        <button type="submit" class="btn btn-lite btn-lg">
          Github
          <img id="github_logo" class="logo_tiny" src="{{ url_for('static', filename='content/github_logo_gray.svg') }}" alt="GitHub">
        </button>
    </form>
  </div>
  <div class="project_other"></div>
  <div class="project_gallery">

    <figure class="center_text">
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/projects/pathogenesis/character.png') }}">
            <div class="crop">
              <img src="{{ url_for('static', filename='content/pictures/projects/pathogenesis/character.png') }}" alt='missing'/>
            </div>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/projects/pathogenesis/battle.png') }}">
            <div class="crop">
              <img src="{{ url_for('static', filename='content/pictures/projects/pathogenesis/battle.png') }}" alt='missing'/>
            </div>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/projects/pathogenesis/play.jpg') }}">
            <div class="crop">
              <img src="{{ url_for('static', filename='content/pictures/projects/pathogenesis/play.jpg') }}" alt='missing'/>
            </div>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/projects/pathogenesis/health.png') }}">
            <div class="crop">
              <img src="{{ url_for('static', filename='content/pictures/projects/pathogenesis/health.png') }}" alt='missing'/>
            </div>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/projects/pathogenesis/organ.png') }}">
            <div class="crop">
              <img src="{{ url_for('static', filename='content/pictures/projects/pathogenesis/organ.png') }}" alt='missing'/>
            </div>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/projects/pathogenesis/vulnerability.png') }}">
            <div class="crop">
              <img src="{{ url_for('static', filename='content/pictures/projects/pathogenesis/vulnerability.png') }}" alt='missing'/>
            </div>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/projects/pathogenesis/sprite.png') }}">
            <div class="crop">
              <img src="{{ url_for('static', filename='content/pictures/projects/pathogenesis/sprite.png') }}" alt='missing'/>
            </div>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/projects/pathogenesis/heart.png') }}">
            <div class="crop">
              <img src="{{ url_for('static', filename='content/pictures/projects/pathogenesis/heart.png') }}" alt='missing'/>
            </div>
          </a>
        </div>
    </figure>
  </div>
</div>