<div class="project_title med_header">Pathogenesis - Computer Game</div>
<div class="line_left"></div>

<div class="project_content">
  <div class="project_description">
    <p>- Implemented a computer game in C# with Microsoft's XNA framework
      - Lead developer on a team of 4 developers and 2 artists/designers

      Pathogenesis is a unique action-arcade game in which the player takes on the roles of a virus that has entered a host and seeks to infect it while combatting the body's white blood cells. The player controls the virus and converts enemies by firing infectious particles, building a horde of virus minions that attack other enemies. The player must traverse the body in various stages, infecting the boss of each level to complete it, eventually infecting the host's brain for victory!

      Github: https://github.com/lilyc5459/cs3152</p>

    <p>See <a href="http://people.ece.cornell.edu/land/courses/ece4760/FinalProjects/f2014/mzw4_jq42/webpage/main.html">documentation</a> for more details.</p>
    
    <p>Featured on <a href="http://hackaday.com/tag/selfie-bot/">Hackaday</a>, <a href="http://embedded-lab.com/blog/?p=9867">Embedded Lab</a>, and <a href=" http://www.electronics-lab.com/blog/?p=32101">Electronics Lab</a>!</p>
  </div>
  <div class="project_other"></div>
  <div class="project_gallery">

    <figure class="center_text">
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/2mid.jpg') }}">
            <img src="{{ url_for('static', filename='content/pictures/2mid.jpg') }}" alt='missing' width='250px'/>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/faces.png') }}">
            <img src="{{ url_for('static', filename='content/pictures/faces.png') }}" alt='missing' width='300px'/>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/gui.png') }}">
            <img src="{{ url_for('static', filename='content/pictures/gui.png') }}" alt='missing' width='300px'/>
          </a>
        </div>
    </figure>
  </div>
</div>