<div class="project_title med_header">Selfiebot - Microcontrollers Project</div>
<div class="line_left"></div>

<div class="project_content">
  <div class="project_description">
    <p>System that uses facial detection to track faces and take pictures of people. The camera on the robot pans and tilts using servos controlled from an ATmega1284 microcontroller. A laptop computer performs image processing and tracking, using OpenCV for facial detection, giving commands to the microcontroller via serial communication.</p>

    <p>See <a href="http://people.ece.cornell.edu/land/courses/ece4760/FinalProjects/f2014/mzw4_jq42/webpage/main.html">documentation</a> for more details.</p>
    
    <p>Featured on <a href="http://hackaday.com/tag/selfie-bot/">Hackaday</a>, <a href="http://embedded-lab.com/blog/?p=9867">Embedded Lab</a>, and <a href=" http://www.electronics-lab.com/blog/?p=32101">Electronics Lab</a>!</p>
  </div>
  <div class="project_other"></div>
  <div class="project_gallery">

    <figure class="center_text">
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/2mid.jpg') }}">
            <img src="{{ url_for('static', filename='content/pictures/2mid.jpg') }}" alt='missing' width='250px'/>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/faces.png') }}">
            <img src="{{ url_for('static', filename='content/pictures/faces.png') }}" alt='missing' width='300px'/>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/gui.png') }}">
            <img src="{{ url_for('static', filename='content/pictures/gui.png') }}" alt='missing' width='300px'/>
          </a>
        </div>
    </figure>
  </div>
</div>