<div class="project_title med_header">Selfiebot - Microcontrollers Project</div>
<div class="info_text">Jennifer Qian, Michael Wang | Fall 2014</div>
<div class="line_left"></div>

<div class="project_content">
  <div class="project_description">
    <p>System that uses facial detection to track faces and take pictures of people. The camera on the robot pans and tilts using servos controlled from an ATmega1284 microcontroller. A laptop computer performs image processing and tracking, using OpenCV for facial detection, giving commands to the microcontroller via serial communication.</p>

    <form class="inline" action="http://people.ece.cornell.edu/land/courses/ece4760/FinalProjects/f2014/mzw4_jq42/webpage/main.html" target="_blank">
      <button type="submit" class="btn btn-lite btn-lg" href="google.com">View Documentation</button>
    </form>

    <form class="inline" action="https://github.com/mzw4/selfie_bot" target="_blank">
        <button type="submit" class="btn btn-lite btn-lg">
          Github
          <img id="github_logo" class="logo_tiny" src="{{ url_for('static', filename='content/github_logo_gray.svg') }}" alt="GitHub">
        </button>
    </form>

    <p><b>Featured on tech blogs <a href="http://hackaday.com/tag/selfie-bot/">Hackaday</a>, <a href="http://embedded-lab.com/blog/?p=9867">Embedded Lab</a>, and <a href=" http://www.electronics-lab.com/blog/?p=32101">Electronics Lab</a>!</b></p>
  </div>
  <div class="project_other"></div>
  <div class="project_gallery">

    <figure class="">
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/2mid.jpg') }}">
            <img src="{{ url_for('static', filename='content/pictures/2mid.jpg') }}" alt='missing'/>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/faces.png') }}">
            <img src="{{ url_for('static', filename='content/pictures/faces.png') }}" alt='missing'/>
          </a>
        </div>
        <div class="inline">
          <a class="mag_pic" href="{{ url_for('static', filename='content/pictures/gui.png') }}">
            <img src="{{ url_for('static', filename='content/pictures/gui.png') }}" alt='missing'/>
          </a>
        </div>
    </figure>
  </div>
</div>