body {
  background-color: white;
  color: #4C4C4C;
  font-family: "Helvetica Neue";
  font-style: condensed;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: normal;
/*
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;*/
}

/* ------------ Panels ------------ */

#title_panel {
  position: relative;
  color: white;
  height: calc(100vh);
}
.title_content {
  /*display: none;*/
  visibility: hidden;
}

#main_content_panel {
  display: none;
  /*max-width: 900px;*/
  margin: auto;
}

.line {
  margin: 10px auto;
  border-bottom: 1px solid #999;
  border-color: inherit;
}

.line_left {
  margin: 10px 0 1em;
  border-bottom: 1px solid #999;
  border-color: inherit;

  width: 30%;

  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#999), to(#fff));
}

.line_gray {
  border-color: #999;
}

.v_line {
  border-right: 1px solid #999;
  height: 50%;
  margin-right: 20px;
}

.title_line {  
  border-bottom: 1px solid white;
  border-color: inherit;
  width: 30%;
}

#menu {
  position: relative;

  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}
li:hover {
}
a:hover {
  background-color: black;
}
#menu.affix {
  background-color: rgba(55, 55, 55, 0.6); /* #383838 */
  position: fixed;
  top: 0;
  width: 100%;
  /*border-bottom: 1px solid #A0A0A0;*/
  z-index: 100;
  /*width: 50%;*/
  /*margin-left: 25%;*/
}

#menu.affix .blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);  
}

#menu_background {
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
}

.footer {
  display: none;
  padding: 30px 20%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(/static/content/backgrounds/city-blurred.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #CCC;
}

.section_panel {
  min-height: calc(100vh - 50px);
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Helvetica Neue";
  font-size: 400%;
  font-weight: lighter;
}

.section_title {
  font-family: "Helvetica Neue";
  font-size: 400%;
  font-weight: lighter;
  padding: 30px 5% 0px 5%;
}

.section_content {
  flex: 1;
  position: relative;
  /*display: flex;*/
  /*flex-direction: column;*/
}

table {
  color: black;
}

.dark_cover {
  opacity: 0.4;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.light_cover {
  opacity: 0.9;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* ------------ Title page ------------ */

.title_page_icon {
  padding: 15px;
  color: white;

  transition: .3s ease all;
  -webkit-transition: .3s ease all;
}

.title_page_icon:hover {
  color: #FFCC66;
}

/* ------------ Class attributes ------------ */

.hide_display {
  display: none;
}

.largetext {
  font-size: 500%;
  font-weight: lighter;
}

.header {
  font-family: "Helvetica Neue";
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 300%;
  font-weight: lighter;
  height: 75px;
}

.med_header {
  font-family: "Helvetica Neue";
  font-size: 250%;
  font-weight: lighter;
  height: 60px;
}

.info_panel {
  padding: 10px;
  margin-bottom: 30px;
}

.info_text {
  color: #999;
}

.center_text {
  text-align: center;
}

.center_div {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline-block;
  padding: 5px;
}

.no_width {
  width: 0%;
}

figure {
  display: block;
  margin: 0 auto;
}
figcaption {
  color: #777;
}

.vertical_center {
  top: 30%;
  position: relative;
}

.v_center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center_all {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}

.fill_height {
  height: 100%;
}

.rotate_cw {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.inverted {
  background-color: black;
  color: white;
}

.padded_30 {
  padding: 30px;
}

.padded_15p {
}

.neg_marg {
  margin: 0 -100px;
}

.gray_border {
  border-color: #777;
}

.banner_wrapper {
  position: relative;
  height: 100px;
}
.banner {
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.fixed_bg {
  opacity: 0.7;
  /*background-attachment: fixed;*/
  /*background-size: 120%;*/
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax_wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.parallax__layer {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}
.parallax_wrapper {
  font-size: 200%;
}
/* add some padding to force scrollbars */
.parallax__layer {
  padding: 100vh 0;
}

.highlight {
  color: orange;
  font-weight: 400;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;

  transition: .2s ease all;
  -webkit-transition: .2s ease all;
}
.overlay:hover {
  opacity: 1;
}

.form_inline {
  margin: 0;
  padding: 0;
}

.link_wrapper {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}

/* ------------ Overrides ------------ */

a {
  color: #FFCC66;

  transition: .3s ease all;
  -webkit-transition: .3s ease all;
}
a:hover {
  /*color: #FFDB94;*/
  color: #FFCC66;
  text-decoration: none;
}

p {
  margin: 0 0 1em;
}

.btn-lite {
  color: #999;
  border-color: #999;
  background-color: #fff;
  font-weight: 300;
  margin-bottom: 10px;

  transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

.btn-lite:hover {
  color: orange;
  border-color: orange;
}

ul {
  list-style-type: none;
  padding: 0;
}

.main_navbar a {
  color: white;
}

#menu.navbar .navbar-nav {
  /*display: inline-block;*/
  float: none;
  vertical-align: top;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
  transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav > li > a:hover {
  background: none;
  color: #FFCC66;
} 
.nav > li > a:focus {
  background: none;
}

#menu .navbar-header .navbar-brand {
  opacity: 0;
  transition: .2s ease all;
  -webkit-transition: .2s ease all;
}
#menu.affix .navbar-header .navbar-brand {
  opacity: 1;
}


