/* ----------------- Gallery ----------------- */

#projects {
  color: #333;
}

#projects .section_content {
  height: calc(100vh - 50px);
}

.project_section_wrapper {
  padding: 30px 2% 30px 2%;
  position: absolute; 
  height: 100%;
  font-size: 18px;
  /*height: calc(100vh - 50px);*/
}

.project_panel_content {
  /*font-weight: 300;*/
  /*max-width: 1020px;*/
  margin: auto;
  height: calc(100% - 37px);
  overflow: hidden;
}

.project_title {
  height: 50px;
  margin-bottom: 10px;
}

#project_nav .project_title {
  margin-bottom: 30px;
}

#project_nav_divider {
  position: absolute;
  right: 20;
}

.nav_items li {
  color: #999;
  padding-right: 30px;
  margin-bottom: 15px;

  transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

.nav_items li:hover {
  cursor: pointer;
  color: orange;
}

.project_description {
  /*max-height: 50%;*/
  /*overflow: auto;*/
}

.project_menu {
  float: left;
  width: 10%;
  margin-left: -15%;
  /*display: inline-block;*/
  /*position: relative;*/
}

.project_panel {
  display: inline-block;
  position: relative;
  top: 0;
  margin: auto;
  height: 100%;
  font-size: 18px;
}

.project_content_wrapper {
  height: 100%;
}

.project_content {
  height: calc(100% - 115px);
  overflow: auto;
}

.project_gallery {
  overflow-x: auto;
  background-color: #ECECEC;
  padding: 15px;
  margin-right: 15px;
}

.crop {
  width: 250px;
  height: 150px;
  overflow: hidden;
}

.crop img {
  max-width: 400px;
  position: relative;
  /*left: ;*/
  /*top: -50%;*/
}

/* ----------------- Summary ----------------- */

#summary {
  /*background-color: #4C7298;*/
  /*background-color: #4A989B;*/
  /*background-color: #499B98;*/
  /*background-color: #3AA5A5;*/
  /*background-color: #59ADAD;*/ /* good green */
  /*background-color: #333;*/
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(/static/content/backgrounds/city-blurred.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #444;
  color: #CCC;
  /*font-family: "PT Sans";*/
}

.summary_section_wrapper {
  padding: 30px 5% 30px 5%;
  /*background-image: url('/static/content/backgrounds/stark.jpg');*/
  background-attachment: fixed;
  /*flex: 1;*/
  /*display: flex;*/
  flex-direction: column;
}

.summary_text_wrapper {
  padding: 60px 0;
}

#summary_pic {
  display: block;
  width: 100%;
  border-radius: 50%;
  max-width: 200px;
  margin: 0 auto 30px auto;
}

#summary_details {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  font-size: 18px;
}

#summary_details .title_icon {
  margin-top: 5px;
  padding: 0 15px;
  position: absolute;
  color: white;
}

.quote_icon {
  color: white;
}

.summary_header {
  display: inline-block;
  color: white;
}

#summary_details li i {
  padding: 0 15px;
}

#logo_link_wrapper {
  text-align: center;
  /*position: absolute;*/
  /*padding-bottom: 30px;*/
  /*bottom: 0;*/
  /*left: 50%;*/
  /*-webkit-transform: translateX(-50%);*/
  /*-ms-transform: translateX(-50%);*/
  /*transform: translateX(-50%);*/
}

#logo_link_wrapper a:hover {
  background-color: transparent;
}

.logo {
  width: 100px;
  margin: 0 15px;
}

.logo_small {
  width: 30px;
  margin: 0 15px;
}

.logo_tiny {
  width: 20px;
}

a:hover {
  background-color: transparent;
}

/* ----------------- Statement ----------------- */

#statement {
  /*color: #333;*/
  color: #4C4C4C;
  /*font-family: 'PT Serif', Georgia, serif;*/
}

.statement_section_wrapper {
  padding: 30px 5% 30px 5%;
  /*background-image: url('/static/content/backgrounds/stark.jpg');*/
  background-attachment: fixed;
  position: relative;
}

#statement_nav {
  position: fixed;
  color: black;
  left: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}

.text_content {
  font-size: 18px;
  max-width: 800px;
  margin: auto;
  position: relative;
  padding: 0px 30px;
}

.justify {
  text-align: justify;
}

.side_pic {
  display: table-cell;
  float: none;
  /*background-color: gray;*/
  /*background-image: url('/static/content/backgrounds/IMG_2986.JPG');*/
/*  position: relative;
  top: 0;
  bottom: 0;*/
  /*display: inline-block;*/
  /*width: 10%;*/
  /*height: 100%;*/
}

.block_text_wrapper {
  margin-bottom: 1em;
  position: relative;

  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}

.block_text_wrapper:hover {
  cursor: pointer;
}

#expand_all {
  color: #59ADAD;
  font-size: 14px;
  position: relative;
  margin-bottom: 1em;

  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}

#expand_all:hover {
  cursor: pointer;
}

.expand_icon {
  color: #59ADAD;
  position: absolute;
  left: -30px;
  top: 3px;

  transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

.block_text {
  line-height: 150%;
  font-size: 18px;
}

.statement_text {
  display: none;
}

.block_summary {
  font-size: 20px;
  /*color: white;*/
  color: #59ADAD;

  border: solid 2px #59ADAD;
  /*background-color: #3AA5A5;*/
  padding: 0 10%;
  position: relative;
  height: 200px;
}

.block_quote_wrapper {
  font-size: 20px;
  color: white;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 10%;
  /*background-color: #194F4F;*/
  background-color: #59ADAD;
  opacity: 0;
  /*display: none;*/

  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}

.block_quote_wrapper:hover {
  opacity: 1;
}

/* ----------------- Resume ----------------- */

#resume_wrapper {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

#resume {
  background-color: #3AA5A5;
  /*background-color: #333;*/
  color: white;
  min-height: 0;
}

.resume_section_wrapper {
  padding: 30px 5% 30px 5%;
  position: relative;
}

.resume_panel_content {
  max-width: 740px;
  /*margin: auto;*/
  /*padding: 0px 30px;*/
}

#resume_button {
  background: none;
  border-color: white;
  color: white;
}

#resume:hover {
  color: orange;
  border-color: orange;
}

.pdf_modal {
  width: calc(100% - 290px);
  height: calc(100% - 30px);
  color: #333;
}

.pdf_viewer {
  width: 100%;
  height: 100%;
  margin: auto;
  font-weight: lighter
}

.modal-dialog {
  position: relative;
}

.modal-content {
  height: 100%;
  border-radius: 0px;
}

.modal-body {
  height: 100%;
  position: relative;
  padding: 0;
}

.modal .button_wrapper {
  position: absolute;
  height: 50px;
  width: 50px;
  right: -25px;
  top: -25px;
  text-align: center;

  background-color: #3AA5A5;
  border-radius: 50%;
}

.modal .button_wrapper .close {
  position: absolute;
  float: none;
  opacity: 1;
  color: white;
  text-shadow: 0 1px 0 #888;
  top: 12px;
  transform: translateX(-50%);
}

.modal .button_wrapper .close:hover {
  color: #CCC;
}

/* ----------------- Gallery ----------------- */

.gallery_button {
  position: relative;
  margin: auto;
  z-index: 10;
  /*border-radius: 50px;*/
  height: 90%;
  width: 40px;
  text-align: center;
  color: #999;

  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}
.gallery_button:hover {
  /*opacity: 0.2;*/
  background-color: #999;
  color: white;
  cursor: pointer;
}

.left_button {
  border-right: solid 1px #999;
}

.right_button {
  border-left: solid 1px #999;
}

.gallery_button_wrapper {
  height: 100%;
}

.gallery_index {
  padding-top: 15px;
  color: #999;
  text-align: center;

  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}

.gallery_index_button:hover {
  cursor: pointer;
}

/* ----------------- Interests ----------------- */

#interests {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(/static/content/backgrounds/city-blurred.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #444;
  color: #CCC;
}

.interests_section_wrapper {
  padding: 30px 5% 30px 5%;
  /*background-image: url('/static/content/backgrounds/stark.jpg');*/
  background-attachment: fixed;
  /*flex: 1;*/
  /*display: flex;*/
  flex-direction: column;
}

.interests_title {
  height: 50px;
  margin-bottom: 10px;
}

/* ------------------------------------------ */

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}