<div class="section_title">
    <span>Resume</span>
    <div id="resume_line" class="line" data-200="width: 0%;" data-500="width:30%;"></div>
</div>

<div class="resume_section_wrapper">
  <div class="resume_panel_content">

    <!-- Button trigger modal -->
    <button id="resume_button" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#resume_modal">
      View PDF
    </button>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resume_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog pdf_modal">
    <div class="modal-content">
      <div class="modal-body">
          <div class="button_wrapper">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <object data="{{ url_for('static', filename='content/documents/michael_wang_resume.pdf') }}" type="application/pdf" class="pdf_viewer">
           
            <p>It appears you do not have a PDF plugin for this browser.
            No biggie... you can <a href="{{ url_for('static', filename='content/documents/michael_wang_resume.pdf') }}">click here to
            download the PDF file.</a></p>
            
          </object>
        </div>
    </div>
  </div>
</div>