<div class="summary_section_wrapper">
  <div class="text_content">

    <div class="summary_text_wrapper row">
      <div class="col-sm-4">
        <img id="summary_pic" src="/static/content/pictures/linkedin_pic.jpg">
      </div>

      <div id="summary_text" class="col-sm-8 block_text">
        "Hi! I am a senior at Cornell University studying Computer Science with a minor in Electrical and Computer Engineering. I'm particularly interested in pursuing applications AI and machine learning in areas including health, sustainability, and automation. Building interesting and practical things is my passion, and I hope to make an impact in the entrepreneurial tech space in the near future."
      </div>

    </div>
  </div>

  <div id="summary_details">
    <div class="row">
      <div id="skills" class="col-sm-5">
        <div class="summary_header med_header">Skills</div>
        <i class="title_icon fa fa-laptop fa-3x"></i>
        <div class="line"></div>

        <ul>
          <li><i class="fa fa-angle-right fa"></i>Software architecture</li>
          <li><i class="fa fa-angle-right fa"></i>Machine learning</li>
          <li><i class="fa fa-angle-right fa"></i>Web development</li>
          <li><i class="fa fa-angle-right fa"></i>Databases</li>
          <li><i class="fa fa-angle-right fa"></i>UX design</li>
        </ul>
      </div>
      <div id="positions" class="col-sm-7">
        <div class="summary_header med_header">Positions held</div>
        <i class="title_icon fa fa-briefcase fa-3x"></i>
        <div class="line"></div>
        
        <ul>
          <li><i class="fa fa-angle-right fa"></i>Software Eng Intern, <a target="_blank" href="https://www.linkedin.com">LinkedIn Corporation</a></li>
          <li><i class="fa fa-angle-right fa"></i>Software Eng Intern, <a target="_blank" href="https://www.wayfair.com">Wayfair LLC</a></li>
          <li><i class="fa fa-angle-right fa"></i>Software Eng Intern, <a target="_blank" href="https://www.amazon.com">Amazon.com Inc</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div id="logo_link_wrapper">
    <a id="linkedin_link" target="_blank" href="https://www.linkedin.com/in/michaelzw">
      <img id="linkedin_logo" class="logo" src="{{ url_for('static', filename='content/linkedin_logo.svg') }}" alt="LinkedIn">
    </a>
    <a id="github_link" target="_blank" href="https://github.com/mzw4">
      <img id="github_logo" class="logo" src="{{ url_for('static', filename='content/github_logo.svg') }}" alt="GitHub">
    </a>
  </div>

</div>